.hero {
    position: relative;
    padding-bottom: 20rem;
    background-color: var(--bg-primary);
}

.hero__container {
    position: relative;
    z-index: 4;
}

.hero__text {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.hero__title {
    position: relative;
    max-width: 55.9rem;
    font-size: 9.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-primary);
}

.hero__title::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
    background-color: var(--circle-color);
}

.hero__desc {
    max-width: 42.6rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-secondary);
}

.hero--btn {
    padding: 3rem;
}

.hero__img {
    position: absolute;
    right: -5%;
    bottom: -35vh;
}

.bg-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}
.circle {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(30%, 50%);
    width: 115rem;
    height: 115rem;
    border-radius: 50%;
    background-color: var(--circle-color);
}

@media (max-width: 1240px) {
    .hero__title {
        font-size: 9rem;
        line-height: 1;
    }
    .hero__title::before {
        transform: translate(-40%, -70%);
    }
    .hero__img {
        left: 20%;
        right: 0;
    }
    .hero__text {
        row-gap: 2.5rem;
    }
}

@media (max-width: 1035px) {
    .hero__title {
        font-size: 8rem;
    }
    .hero__desc {
        font-size: 2rem;
    }
    .circle {
        transform: translate(40%, 60%);
    }
}

@media (max-width: 778px) {
    .hero__title {
        font-size: 5.9rem;
    }
    .hero__title::before {
        transform: translate(-45%, -70%);
    }
    .hero__text {
        padding: 0 2rem;
    }
    .circle {
        transform: translate(50%, 65%);
    }
}

@media (max-width: 635px) {
    .hero__title::before {
        transform: translate(-50%, -70%);
    }
    .circle {
        transform: translate(60%, 70%);
    }
    .hero__img {
        left: -5%;
        width: 100vw;
    }
}

@media (max-width: 500px) {
    .hero__title::before {
        transform: translate(-65%, -75%);
    }
}

@media (max-width: 500px) {
    .hero__text {
        padding: 0 3.5rem;
    }
}

@media (max-width: 440px) {
    .hero__title::before {
        transform: translate(-65%, -85%);
    }
}