.card {
    padding: 2rem 3rem;
    border-radius: var(--border-radius);
    border: 2px solid #D9D9D9;
    text-align: center;
    cursor: pointer;
}

.card__desc {
    margin-top: 2.5rem;
    font-size: 3rem;
    font-weight: 500;
    color: #6F6F6F;
}

